<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jav-library</title>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

    <!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">

        <form action="search" method="post" style="margin: 30px 10px">
            {% csrf_token %}
            <div class="col-sm-3 my-1">
                <label class="sr-only" for="number"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">番号</div>
                    </div>
                    <input type="text" class="form-control" id="number" name="number" value="{{ para.number }}">
                </div>
            </div>
            <div class="col-sm-3 my-1">
                <label class="sr-only" for="title"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">标题</div>
                    </div>
                    <input type="text" class="form-control" id="title" name="title" value="{{ para.title }}">
                </div>
            </div>
            <div class="col-sm-3 my-1">
                <label class="sr-only" for="cast"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">演员</div>
                    </div>
                    <input type="text" class="form-control" name="cast" id="cast" value="{{ para.cast }}">
                </div>
            </div>
            <div class="col-sm-3 my-1">
                <label class="sr-only" for="genres"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">分类</div>
                    </div>
                    <input type="text" class="form-control" name="genres" id="genres" value="{{ para.genres }}">
                </div>
            </div>
            <div class="col-sm-3 my-1 d-none">
                <label class="sr-only" for="director"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">导演</div>
                    </div>
                    <input type="text" class="form-control" id="director" name="director" value="{{ para.director }}">
                </div>
            </div>
            <div class="col-sm-3 my-1">
                <label class="sr-only" for="maker"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">厂商</div>
                    </div>
                    <input type="text" class="form-control" id="maker" name="maker" value="{{ para.maker }}">
                </div>
            </div>
            <div class="col-sm-3 my-1">
                <a href="main" class="btn btn-primary">清空</a>
                <button type="submit" class="btn btn-primary">查询</button>
            </div>

        </form>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">标题</th>
                <th scope="col">时间</th>
                <th scope="col">导演</th>
                <th scope="col">演员</th>
            </tr>
            </thead>
            <tbody>
                {% for foo in videos %}
                    <tr>
                        <td><img src="{{ foo.img }}"></td>
                        <td><a href="{{ foo.url }}" target="_blank">{{ foo.title }}</a></td>
                        <td class="text-nowrap">{{ foo.date }}</td>
                        <td>{{ foo.maker }}</td>
                        <td>{{ foo.cast }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</body>
</html>